@model List<Employee>;
@{
    ViewBag.Title = "Get Data";
}
<div class="card-body">
    @foreach(var emp in Model)
    {
        <div class="card-m3">
            <img class="card-img-top" style="width:20%;height:20%" src="~/tree.jpg"/>
            <div class="card-img-top">
                <div>
                    ID=@emp.Id
                    </div>
                <div>
                    Name=@emp.Name
                </div>
                <div>
                    Email=@emp.Email
                </div>
            </div>
            <div class="card-footer text-center ">
                <a asp-controller="home" asp-action="index" asp-route-id="@emp.Id" class="btn btn-primary">View</a>
                <a href="/home/index/@emp.Id" class="btn btn-info">Edit</a>
                <a href="/home/index/@emp.Id" class="btn btn-danger">Delete</a>
            </div>
            </div>
    }
</div>